* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS", sans-serif;
}

body {
	background: linear-gradient(#276bff, #8a03fb);
	height: 100vh;
	background-attachment: fixed;
	display: flex;
}

#root {
	margin: auto;
	padding: 0;
	max-width: 450px;
	width: 100%;
}

.todo-app {
	background-color: #161a2b;
	border-radius: 10px;
	margin: 20px 10px;
	min-height: 500px;
	padding: 20px;
	text-align: center;
}

h1 {
	color: #fff;
	font-size: 24px;
	margin: 10px 0 25px 0;
}

.complete {
	text-decoration: line-through;
	opacity: 0.4;
}

.todo-input-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.todo-input {
	padding: 14px 32px 14px 16px;
	border-radius: 5px 0 0 5px;
	border: 2px solid #5d0cff;
	outline: none;
	width: 100%;
	background: #181e39;
	color: #fff;
}

.todo-input::placeholder {
	color: #8d8d8d;
}

.todo-button {
	padding: 12px;
	border: none;
	border-radius: 0 4px 4px 0;
	cursor: pointer;
	background: linear-gradient(
		90deg,
		rgba(93, 12, 255, 1) 0%,
		rgba(155, 0, 250, 1) 100%
	);
}

.todo-input.edit {
	border: 2px solid #149fff;
}

.todo-button.edit {
	background: linear-gradient(
		90deg,
		rgba(20, 159, 255, 1) 0%,
		rgba(17, 122, 255, 1) 100%
	);
}

.todo-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 5px 0;
	color: #fff;
	background: linear-gradient(
		90deg,
		rgba(255, 118, 20, 1) 0%,
		rgba(255, 84, 17, 1) 100%
	);
	padding-right: 16px;
	border-radius: 5px;
	position: relative;
}

.todo-row-text {
	padding: 16px;
	cursor: pointer;
}

:not(.todo-row.complete) .todo-row-text:hover.todo-row-text::after {
	content: "Mark as done";
	width: 140px;
	height: 100%;
	background-color: #181e39;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.todo-row.complete .todo-row-text:hover.todo-row-text::after {
	content: "Mark as undone";
}

.todo-row.complete.todo-row::before {
	content: "Done";
	width: 80px;
	height: 100%;
	background-color: #181e39;
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 99;
}

.todo-row:nth-child(4n + 1) {
	background: linear-gradient(
		90deg,
		rgba(93, 12, 255, 1) 0%,
		rgba(155, 0, 250, 1) 100%
	);
}

.todo-row:nth-child(4n + 2) {
	background: linear-gradient(
		90deg,
		rgba(255, 12, 241, 1) 0%,
		rgba(250, 0, 135, 1) 100%
	);
}

.todo-row:nth-child(4n + 3) {
	background: linear-gradient(
		90deg,
		rgba(20, 159, 255, 1) 0%,
		rgba(17, 122, 255, 1) 100%
	);
}

.icons {
	display: flex;
	font-size: 24px;
	cursor: pointer;
	color: #fff;
}

.delete-icon,
.edit-icon {
	margin-left: 7px;
}
